<h1>Stocks</h1>

<table class = "table table-dark">
  <thead>
    <tr>
      <th>Company</th>
      <th>Ticker</th>
      <th>Current Price</th>
      <th>Market Cap</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <% @stocks.each do |stock| %>
      <% if stock.user_id == current_user.id %>
    <% begin %>
      <% @ticker = StockQuote::Stock.quote(stock.ticker) %>
      <% rescue => @errorCatcher  %>
      <tr>
        <td><%= link_to "Error", stock %></td>
          <td><%= stock.ticker %></td>
          <td>N/A</td>
          
          <td>N/A</td>


          <td><center><%= link_to 'Edit', edit_stock_path(stock) %></center></td>
          <td><center><%= link_to 'Delete', stock, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
        </tr>
      <% else %>
        <tr>
          <td><%= link_to @ticker.company_name, stock, class: 'text-light' %></td>
          <td><%= @ticker.symbol %></td>
          <td>$<%= number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ',') %></td>
          
          <td>$<%= number_with_precision(@ticker.market_cap, :precision => 2, :delimiter => ',') %></td>


          <td><center><%= link_to 'Edit', edit_stock_path(stock), class: 'text-light' %></center></td>
          <td><center><%= link_to 'Delete', stock, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-light' %></center></td>
        </tr>
      
      <% end %>
          
        
        
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
